:root {
  --primary-color: #eed6d3;
  --secondary-color: #67595e;
  --terciary-color: #a49393;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
  margin: 0;
}

h2,
h3 {
  font-family: var(--default-font-family);
  line-height: 2;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 80px;
}

h2 {
  font-size: 30px;
  font-weight: normal;
}

h3 {
  font-weight: normal;
  font-size: 36px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
