:root {
  --primary-color: #eed6d3;
  --secondary-color: #67595e;
  --terciary-color: #a49393;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-color);
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
  color: var(--primary-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: 700;
}

h4 {
  font-size: 28px;
}

p {
  font-weight: normal;
}

footer {
  color: var(--secondary-color);
}

.bg-images {
  background-color: var(--terciary-color);
  border-radius: 10px;
  padding: 20px 60px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
}

.project-title {
  border-bottom: 1px dashed black;
  font-family: var(--heading-font-family);
  font-size: 45px;
  font-weight: normal;
  padding-bottom: 10px;
  margin-right: 935px;
}

.project-description {
  padding: 140px 70px 140px 0;
}

.about-section {
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 50px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}

.about-section .row {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-section-title,
.about-section-content {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 40px;
}

.about-section-title {
  border-radius: 10px 10px 0 10px;
}

.about-section-title h1 {
  font-size: 60px;
}

.about-section-title h2 {
  font-size: 20px;
}

.about-section-content {
  border-radius: 0 10px 10px 10px;
  position: relative;
  top: 100px;
}

.content-container {
  padding: 160px 20px;
}

.content-container h1 {
  border-bottom: 1px dashed black;
  color: #000;
  font-weight: normal;
  font-size: 45px;
  line-height: 80px;
  margin-right: 460px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 27px;
  padding: 15px 30px;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: bold;
  line-height: 27px;
  padding: 10px 20px;
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 34px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

nav a:hover {
  border-bottom: 1px dashed var(--secondary-color);
  padding-bottom: 2px;
  font-weight: 700;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  transition: all 100ms ease-in-out;
}

footer .btn {
  background-color: var(--secondary-color);
  margin: 0 130px;
  padding: 14px;
  border-radius: 30px;
  transition: transform 100ms ease-in-out;
}

footer .btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: 700;
  transform: scale(0.9);
}

footer .social-links a {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0 20px;
  padding: 10px;
  transition: transform 100ms ease-in-out;
}

@media (max-width: 995px) {
  h1 {
    line-height: 56px;
  }

  .project-title {
    font-size: 44px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  h3 {
    font-size: 32px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .about-section .row {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .col-lg-6 {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .about-section-title,
  .about-section-content {
    border-radius: 10px;
    top: 0;
    max-width: 100%;
    padding: 20px;
  }

  .content-container h1 {
    border: none;
    line-height: 56px;
    margin: 0;
  }
}
