@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #eed6d3;
  --secondary-color: #67595e;
  --terciary-color: #a49393;
  --black: #333;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --border-radius: .5rem;
}

* {
  box-sizing: border-box;
  font-family: var(--default-font-family);
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 96px;
  color: var(--primary-color);
  font-family: var(--heading-font-family);
  font-weight: 700;
}
h3 {
  font-family: var(--heading-font-family);
  font-size: 2.5rem;
  font-weight: 700;
}
h4 {
  font-size: 1.75rem;
}

p {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.col {
  flex: 1 0 0%;
}
.d-none {
  display: none;
}
.title-section {
  border-bottom: 1px dashed var(--black);
  font-family: var(--heading-font-family);
  font-size: 2.813rem;
  font-weight: normal;
  width: fit-content;
  margin-bottom: 3rem;
  padding-bottom: 0.625rem;
}
.title-section span {
  font-size: 2.5rem;
  font-weight: 700;
}

/*** start header ***/
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;
}
.nav-bar ul {
  padding: 0;
  margin: 0;
}
.nav-bar li {
  display: inline;
  list-style: none;
  line-height: 2.125rem;
  margin-left: 0.938rem;
}
.nav-bar a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.nav-bar a:hover {
  border-bottom: 1px dashed var(--secondary-color);
  padding-bottom: 0.125rem;
  font-weight: 700;
}

/*** end header ***/

/*** start about section ***/

.about-section {
  margin-top: 3.125rem;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}
.about-section .row {
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.about-section .row .col-lg-6:last-child {
  position: relative;
  top: 100px;
  margin-left: -4rem;
}
.about-section-title,
.about-section-content {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2.5rem;
}
.about-section-content p {
  font-size: 1.125rem;
}
.about-section-title {
  border-radius: var(--border-radius);
}
.about-section-title h1 {
  font-size: 3.75rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1.5rem;
}
.about-section-title h2 {
  font-size: 1.25rem;
}
.about-section-content {
  border: 4px solid var(--primary-color);
  border-radius: .7rem;
}

/*** end about section ***/

/* start technologies section */

.grid-technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
}
.card-technologies {
  text-align: center;
}
.card-technologies img {
  object-fit: cover;
  width: 4rem;
  height: 4rem;
}
.card-technologies p {
  margin-top: 0.5rem;
}

/* end technologies section */

/* start work section */

.work-section {
  margin-top: 3rem;
}
.card-work {
  display: grid;
  grid-template-columns: .5fr 1fr auto;
  gap: 3rem;
  background-color: var(--terciary-color);
  border-radius: var(--border-radius);
  padding: 2rem;
}
.card-description-work ul {
  color: #2a2525;
  margin-bottom: 0;
}
.card-description-work li {
  margin-bottom: 0.5rem;
}
.card-time-work {
  color: #2a2525;
}

/* end work section */

/* start project section */

.project-section {
  margin-top: 3rem;
}
.project-section .row {
  align-items: center;
}
.bg-images {
  background-color: var(--terciary-color);
  border-radius: var(--border-radius);
  padding: 1.25rem 3.75rem;
  margin-right: 3.125rem;
  display: flex;
  justify-content: center;
}
.project-description {
  padding-right: 4.375rem;
}
.project-description h3 {
  margin-bottom: 3rem;
}
.project-description p {
  color: rgba(33, 37, 41, 0.75);
  margin-bottom: 3rem;
}
.content-container-work {
  padding: 2.5rem 1.25rem;
}
.content-container-work h1 {
  border-bottom: 1px dashed var(--black);
  color: var(--black);
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 5rem;
  width: fit-content;
}
.content-work h3 {
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content-work p {
  font-size: 0.875rem;
}
.btn-branding {
  background: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--secondary-color);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 27px;
  padding: 0.625rem 1.125rem;
}
.btn-branding:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}
.btn-branding-outline {
  display: inline-block;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 1rem;
  min-width: 143px;
  padding: 0.938rem 1rem;
  text-align: center;
  text-decoration: none;
}
.btn-branding-outline:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/*** end project section ***/

/*** inico footer ***/

footer {
  color: var(--secondary-color);
  margin-top: 3.75rem;
  margin-bottom: 1.25rem;
  text-align: center;
}
footer h4 {
  margin-bottom: 1.5rem;
}
footer .email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
  transition: all 100ms ease-in-out;
}
footer .btn {
  display: inline-block;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 1.875rem;
  margin: 0 8.125rem;
  padding: 0.875rem 1.125rem;
  transition: all 100ms;
}
footer .btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
footer .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  color: var(--secondary-color);
  transition: all 100ms;
  margin-bottom: 1rem;
}
footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social-links img {
  filter: brightness(0) saturate(100%) invert(37%) sepia(7%) saturate(612%) hue-rotate(287deg) brightness(95%) contrast(93%);
  width: 2rem;
  height: 2rem;
}

/*** end footer ***/

.container-btn-scroll {
  position: fixed;
  right: 0.938rem;
  bottom: 0.938rem;
}
.btn-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  text-decoration: none;
  transition: all 0.3s;
}
.btn-scroll img {
  width: 1.375rem;
  height: 1.375rem;
}
.btn-scroll:hover {
  background-color: var(--terciary-color);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .d-lg-block {
    display: block;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 992px) {
  h1 {
    line-height: 56px;
  }
  .col-lg-6 {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .title-section,
  .content-work h1 {
    font-size: 2.75rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
  .title-section span {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .about-section {
    padding-left: 0;
    padding-right: 0;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    text-align: center;
  }
  .about-section .row {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .about-section-title,
  .about-section-content {
    max-width: 100%;
    padding: 1rem 2rem;
  }
  .about-section-title {
    padding: 2rem 2rem 1rem 2rem;
  }
  .about-section-content {
    padding: 1rem 2rem 2rem 2rem;
  }
  .about-section-title {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  .about-section-content {
    border: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
  .about-section .row .col-lg-6:last-child {
    top: 0;
    margin-left: 0;
  }
  .card-work {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .card-work h4,
  .card-work p {
    text-align: center;
  }
  .card-description-work {
    order: 1;
  }
  .card-time-work {
    order: 2;
  }
  .card-description-work {
    order: 3;
  }
  .content-container h1 {
    border: none;
    line-height: 3.5rem;
    margin: 0;
  }
  .container-btn-scroll {
    display: none;
  }
}
@media (max-width: 768px) {
  
}